{% extends 'base.html.twig' %}

{% block title %} Modifier un événement{% endblock %}

{% block body %}
    <h1>Modifier : {{ event.title }}</h1>
    <div class="btn-group-justified">
    {{ include('event/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {{ include('event/_delete_form.html.twig') }}
    </div>
{% endblock %}
