{% extends 'base.html.twig' %}

{% block title %}Les événements{% endblock %}

{% block body %}
    <h1>Tous les événements</h1>
    <div class="album py-5 bg-light">
        <div class="container">
            <h2></h2>
            <div class="row">
                <div class="col-md-2">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action">2017</a>
                        <a href="#" class="list-group-item list-group-item-action">2018</a>
                        <a href="#" class="list-group-item list-group-item-action active">2019</a>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="row">
                        {% for event in events  %}
                            <div class="col-md-4">
                                {% include 'event/_thumbnail.html.twig' with {'event': event} only %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



