{% extends 'base.html.twig' %}

{% block title %}Nouvel événement{% endblock %}

{% block body %}
    <h1>Proposer un nouvel événement</h1>

    {{ include('event/_form.html.twig') }}

{% endblock %}
